$primary: #000000;
$secondary: #0C0C0E;
$tertiary: #131416;
$border: #323337;
$banner: #28292D;
$embedHighlighted: #191A27;
$defaultBlue: #5865F2;
$link: #3387EA;
$error: #ff0000;
$success: #00ff00;
$inactiveText: #8E8F96;
$activeText: #E3E3E6;